@model CourseApp2.Models.Request

@{
    ViewData["Title"] = "Thanks";
}

    <div class="text-center">

        <h1>Thanks @Model.Name</h1>
        <h4>
            güzel kurs.
        </h4>

    </div>



